<!--总体概况-->

<!-- Main content -->
<section class="content-header">
    <h1>
        单篇文章采集
        <small>Version 1.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>




<section class="content">


    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">

                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">填写采集地址</label>
                        <input type="text" class="form-control" id="collection_url" placeholder="例如：http://www.easynode.cn/1.php?id=2">
                    </div>


                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">标题</label>
                                <input type="text" class="form-control" id="post_title" placeholder="例如：#title或者.title">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">时间</label>
                                <input type="text" class="form-control" id="post_time" placeholder="例如：#time或者.time">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">分类(必须填写文章分类已存在的)</label>
                                <input type="text" class="form-control" id="post_category" placeholder="例如：电影或者漫画">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">内容</label>
                                <input type="text" class="form-control" id="post_content" placeholder="例如：#content或者.content">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="box-footer">
                    <a id="single_collection" class="btn btn-primary">采集</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <pre>
案例：
//要采集网站的dom结构
&lt;body&gt;
    &lt;div class=&quot;title&quot;&gt;标题内容&lt;/div&gt;
    &lt;span class=&quot;time&quot;&gt;2013-11-11&lt;/span&gt;
    &lt;span class=&quot;category&quot;&gt;分类：电影&lt;/span&gt;
    &lt;div id=&quot;content&quot;&gt;内容&lt;/div&gt;
&lt;/body&gt;</pre>


        </div>
    </div>


</section>

<script>
    $(function () {
         $('#single_collection').click(function () {
              $.ajax({
                  type:'post',
                  data:{
                      collection_url:$('#collection_url').val(),
                      post_title:$('#post_title').val(),
                      post_time:$('#post_time').val(),
                      post_category:$('#post_category').val() || '其他',
                      post_content:$('#post_content').val()
                  },
                  url:'/admin/single_collection',
                  success:function (data) {
                      console.log(data)
                      alert('数据插入成功');
                  }
              });
         });
    });
</script>

