<!--总体概况-->

<!-- Main content -->
<section class="content-header">
    <h1>
        概况
        <small>Version 1.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>




<section class="content">
            <div class="row">
                <a href="post_list" class="col-md-4 col-sm-6 col-xs-12" style="display: block;">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text text-muted">文章总数</span>
                            <span class="info-box-number text-muted"> <%- post_num %> </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
                <!-- /.col -->
                <a href="category" class="col-md-4 col-sm-6 col-xs-12" style="display: block;">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-bookmark-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text text-muted">分类总数</span>
                            <span class="info-box-number text-muted"><%- category_num %></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <a href="media_list" class="col-md-4 col-sm-6 col-xs-12" style="display: block;">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-file-picture-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text text-muted">图片、文件总数</span>
                            <span class="info-box-number text-muted"><%- media_num %></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>

                <!-- /.col -->
            </div>
            <!-- /.row -->



            <div class="row">
                 <div class="col-md-4">
1111
                 </div>


                <div class="col-md-8">
2222
                </div>
            </div>

</section>