
<!DOCTYPE html>
<html>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title> <%= title %> | 后台管理系统</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.6 -->
      <!--<link rel="stylesheet" href="/AdminLTE-2.3.7/bootstrap/css/bootstrap.min.css">-->
      <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <!--<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">-->
      <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <!-- Ionicons -->
      <!--<link rel="stylesheet" href="/stylesheets/ionicons.min.css">-->
      <link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="/AdminLTE-2.3.7/plugins/select2/select2.min.css">
      <link rel="stylesheet" href="/AdminLTE-2.3.7/dist/css/AdminLTE.min.css">
      <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
            page. However, you can choose any other skin. Make sure you
            apply the skin class to the body tag so the changes take effect.
      -->
      <link rel="stylesheet" href="/AdminLTE-2.3.7/dist/css/skins/skin-blue.min.css">

       <!--编辑器样式-->
      <link rel="stylesheet" type="text/css" href="/dist/css/wangEditor.min.css">


      <!-- jQuery 2.2.3 -->
      <!--<script src="/AdminLTE-2.3.7/plugins/jQuery/jquery-2.2.3.min.js"></script>-->
      <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
      <!--<script src="/AdminLTE-2.3.7/plugins/select2/select2.min.js"></script>-->
      <script src="https://cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>


      <script type="text/javascript" src="/plupload/lib/plupload/plupload.full.min.js"></script>
      <script type="text/javascript" src="/dist/js/wangEditor.min.js"></script>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <!--<script src="/javascripts/html5shiv.min.js"></script>-->
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <!--<script src="/javascripts/respond.min.js"></script>-->
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->










      <!-- Bootstrap 3.3.6 -->
      <script src="/AdminLTE-2.3.7/bootstrap/js/bootstrap.min.js"></script>
      <!-- DataTables -->
      <script src="/AdminLTE-2.3.7/plugins/datatables/jquery.dataTables.min.js"></script>
      <script src="/AdminLTE-2.3.7/plugins/datatables/dataTables.bootstrap.min.js"></script>
      <!-- SlimScroll -->
      <script src="/AdminLTE-2.3.7/plugins/slimScroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="/AdminLTE-2.3.7/plugins/fastclick/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="/AdminLTE-2.3.7/dist/js/app.min.js"></script>



      <!--<script type="text/javascript" language="javascript" src="/jquery.dataTables.min.js"></script>-->
      <!--<script type="text/javascript" language="javascript" src="/AdminLTE-2.3.7/plugins/datatables/buttons/1.2.4/js/dataTables.buttons.min.js"></script>-->
      <!--<script type="text/javascript" language="javascript" src="/AdminLTE-2.3.7/plugins/datatables/select/1.2.1/js/dataTables.select.min.js"></script>-->
      <!--<script type="text/javascript" language="javascript" src="/AdminLTE-2.3.7/plugins/datatables/editor/1.6.1/js/dataTables.editor.min.js"></script>-->
      <!-- page script -->



  </head>

  <body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">
