

</div>


<div id="foot">
    <div class="foot_inside">


        <div class="copy">
            <p>本页共耗时：<%- load_time() %></p>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">琼ICP备12003237号</a>
        </div>

    </div>



</div>




</body>
</html>